{
  "ecmaFeatures": {
    "arrowFunctions": true,
    "objectLiteralShorthandProperties": true
  },
  "globals": {
    "Bacon": true,
    "Observable": true,
    "endEvent": true,
    "withDescription": true
  },
  "rules": {
    "strict": 0
  }
}
