{
  "extends": "defaults",
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "destructuring": true,
    "defaultParams": true,
    "objectLiteralShorthandProperties": true,
    "objectLiteralShorthandMethods": true,
    "restParams": true,
    "spread": true,
    "modules": true
  },
  "rules": {},
  "globals": {
    "global": true,
    "jQuery": true,
    "Zepto": true,
    "setTimeout": true,
    "clearTimeout": true,
    "setInterval": true,
    "clearInterval": true
  },
  "env": {
    "browser": true,
    "node": true
  }
}
